@import url(./styles/header-main-footer.css);
@import url(./styles/pokedex-cards.css);
@import url(./styles/pokedex-card-design.css);

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.f-16-b{
    font-size: 16px;
    font-weight: bold;
}
.f-16{
    font-size: 16px;
}

.f-32-b{
    font-size: 32px;
    font-weight: bold;
}

.f-22{
    font-size: 22px;
}

.fc-white{
    color: white;
}

.fc-black{
    color: black;
}

.fc-grey{
    color:grey;
}

.box-shadow-top{
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

.box-shadow-bottom{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.bg-light{
    background-color: rgb(19, 165, 233);
}

.bg-dark{
    background-color: rgb(7, 61, 86);
}

.bg-main{
    background-color: rgba(81, 155, 189, 0.644);
}

.bg-white{
    background-color: white;
}

.mg-top{
    margin-top: 15px;
}
.mg-left{
    margin-left: 15px;
}
.mg-right{
    margin-right: 15px;
}
.mg-bottom{
    margin-bottom: 15px;
}
.mg-total{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.bg-hover:hover{
    background-color: rgb(25, 25, 25, 0.3);
}