@import url(./styles/header-main-footer.css);
@import url(./styles/pokedex-cards.css);

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* For new Feature coming Soon*/
:root {
  --type-grass: rgb(168, 230, 162);
  --type-fire: rgb(255, 167, 86);
  --type-water: rgb(88, 171, 246);
  --type-electric: rgb(251, 226, 115);
  --type-bug: rgb(195, 206, 117);
  --type-normal: rgb(190, 190, 190);
  --type-poison: rgb(193, 131, 193);
  --type-ground: rgb(230, 192, 123);
  --type-fairy: rgb(244, 189, 201);
  --type-fighting: rgb(225, 127, 126);
  --type-psychic: rgb(250, 146, 178);
  --type-rock: rgb(213, 213, 212);
  --type-ghost: rgb(120, 125, 156);
  --type-ice: rgb(180, 241, 241);
  --type-dragon: rgb(162, 124, 245);
  --type-dark: rgb(169, 169, 169);
  --type-steel: rgb(204, 204, 222);
  --type-flying: rgb(168, 207, 255);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.f-16-b{
    font-size: 16px;
    font-weight: bold;
}

.f-32-b{
    font-size: 32px;
    font-weight: bold;
}

.fc-white{
    color: white;
}

.box-shadow-top{
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

.box-shadow-bottom{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.bg-light{
    background-color: rgb(19, 165, 233);
}

.bg-dark{
    background-color: rgb(7, 61, 86);
}

.bg-main{
    background-color: rgba(81, 155, 189, 0.644);
}