.header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0;
}

.header-logo img{
    width: 50px;
    height: auto;
}

.header-search input{
    width: 200px;
    height: 25px;
    border-radius: 8px;
    border: none;
}

.main{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.main-container{
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.footer-logo img{
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-loading{
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(11, 102, 135);
    border: 1px solid black;
    cursor: pointer;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 202, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-overlay.hidden {
  display: none;
}

.loader {
  border: 6px solid #f4f2ee;
  border-top: 6px solid #e53e3f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1500px) {
    .header{
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .main{
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    }
    .footer{
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
}
@media (max-width: 1000px) {
    .header{
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    }
    .main{
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer{
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer-copyright{
        display: none;
    }
}

@media (max-width: 650px) {
    .header{
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    }
    .header-text{
        display: none;
    }
    .main{
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer{
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer-copyright{
        display: none;
    }
}
@media (max-width: 450px) {
    .header{
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    }
    .main{
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer{
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer-copyright{
        display: none;
    }
}

@media (max-width: 440px) {
    .header{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    }
    .main{
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
    .footer-copyright{
        display: none;
    }
}