.pokedex-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    height: 90%;
    width: 90%;
    /* background-color: aqua; */
    flex-wrap: wrap;
}

/* .pokedex-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(43, 226, 177);
    box-sizing: border-box;
} */

.pokemon-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: rgb(219, 237, 246);
    margin: 15px;
}