.pokedex-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    height: 100%;
    width: 1440px;
    margin: 0;
    flex-wrap: wrap;
}

#pokemon-card div{
    margin: 15px;
}

.pokemon-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid black;
    /* margin: 15px; */
}

.pokemon-info:hover {
  filter: brightness(0.85);
  cursor: pointer;
  transition: all 0.8s ease;
}

.pokemon-name{
    margin-top: 15px;
}

.pokemon-id{

}

.pokemon-picture{
    height: 100px;
    width: auto;
}

.pokemon-type{

}